.pokemon-wrapper{

padding: 15px;
margin:  10px 0 ;
background-color: #b79e9e;
border-radius: 10px;
transition: 0.5s;
}
.pokemon-wrapper:hover{
    background-color: #ffffff;
    
}
.pokemon-wrapper>div{
    text-align: center;
    letter-spacing: 10px;
    font-size: 20px;
}
.pokemon-wrapper>img{

width: 40px;
height: 40px;
}
.PokemonImage{
width: 300px;
height: 300px;
}
.PokemonName{
    /* border: 1px solid black; */
    text-align: center;
}
a {
    text-decoration: none !important;
}