.search-wrapper{
    height: 100px;
    display: grid   ;
    justify-content: center;
    align-items: center;
    background-color: #dccbcb;
    /* border: 1px solid red; */
    padding: 10px;
}
.search-wrapper>h4{
    text-align: center;
}
#input-wrapper{
   /* border: 1px solid blue; */
   height: 50px;

    
}