.pokemon-list-wrapper{
    border: 2px dashed rgb(16, 10, 10);
    margin: 2 rem auto;
} 
.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

