.pokemon-list-wrapper{
    width: 80%;
    margin: auto;
    padding: 15px;
    
}
.pagination{
    /* border: 1px solid blue; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination>button{
    /* border: 1px solid rgb(15, 15, 22); */
    width: 60px;
    height: 30px;
    margin: 0 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}